<!DOCTYPE html>
<html>
<head>
    <title>RPG Name Generator</title>
</head>

<body>
    <h1>
        RPG Name Generator
    </h1>
    <p>
        {{ sentence }}
    </p>
    <button onclick="window.location.reload();">
        Generate
    </button>
    <br>
    <br>
    <table>
    {% for games in games %}
        <div class="content">
        <tr>
            <td>{{ games.id }}</td>
            <td>{{ games.f_name }}</td>
        </tr>
        </div>
    {% endfor %}
    </table>

</body>


</html>